include mixins/todo

li
  - if(todo.completed){
    submit_value = '未完了'
    button_value = false
    h4
      del.diagonally.leftUp= todo.title
  - }else{
    submit_value = '完了'
    button_value = true
    h4= todo.title
  -}
    div
      section.markdown!= todo.markdown
      .form-group
        form(action='/todo/'+todo._id+'/completeChange', method= 'POST')
          input(type='hidden', name='_method', value='put')
          input(type='hidden', name='completed', value="#{button_value}")
          i.icon-ok
          input.btn.btn-mini.btn-success(type= 'submit', value="#{submit_value}")
        form(action='/todo/'+todo._id, method= 'GET')
          input(type='hidden', name='_method', value='get')
          i.icon-pencil
          input.btn.btn-mini.btn-info(type= 'submit', value='編集')
        form(action='/todo/'+todo._id, method= 'POST')
          input(type='hidden', name='_method', value='delete')
          i.icon-trash
          input.btn.btn-mini.btn-danger(type= 'submit', value='削除')
      h4 子TODO追加
      div
        form(action='/todo', method= 'POST')
          input(type='hidden', name='parent', value=todo._id)
          mixin edit({})
          input(type='submit')
      - if(todo.todos)
        ul!= partial('todo', todo.todos)
