!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    section
      h1 朝の定常管理
      nav!= partial('nav')
      article
        h2= title
        section!= body
      footer!= partial('footer')
