!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section.container-fluid
      h1 朝の定常管理
      .row-fluid
        nav.span2!= partial('nav')
        article.span10
          h2= title
          section!= body
        footer!= partial('footer')
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type='text/javascript', src="/js/jquery.collapse.js")
    script(type='text/javascript', src="/js/showHide.js")
